@import './fonts.css';

* {
    margin: 0;
    padding: 0;
    font-family: LatoBold, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
}

.header {
    background-color: #2d303a;
    box-shadow: 0px 6px 0px #323746;
    z-index: 5;
    position: relative;
}

.wrapper {
    width: 1020px;
    margin: 0 auto;
    padding: 0 40px;
}

.logo {
    color: #ffffff;
    font-family: LatoBold, sans-serif;
    font-size: 2.4rem;
    letter-spacing: 0px;
    cursor: default;   
}

.header .wrapper {
    height: 89px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navigation{
    margin-right: -4px;
    margin-top: 10px;
}

.navigation {
    display: flex;
    font-size: 1.2rem;
    letter-spacing: 0px;
}

.navigation_item {
    margin-left: 10px;
    margin-right: 2px;
    list-style-position: inside;
    color: #494e62;
}

.navigation_item span {
    transition: color, 0.5s;
    color: #fff;
}

.navigation_item span:hover {
    cursor: pointer;
    color: #f06c64;
}

.navigation_item:first-child span {
    color: #f06c64;
}

.navigation_item:first-child {
    list-style: none;
}

.logo span {
    color: #f06c64;
}

.slider {
    background-color: #f06c64;
    box-shadow: 0px 6px 0px #ea676b;
    z-index: 4;
    position: relative;
}

.slider .wrapper {
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider_left {
    margin: 0 0 0 2px; 
    
}

.phone_vertical {
    margin: 0 0 0 -12px;  
}

.slider_right {
    margin: 0 0 0 10px; 
}

.slider_right:hover {
    transform: scale(2);
    filter: brightness(3);
}

.slider_left:hover {
    transform: scale(2);
    filter: brightness(3);
}

.our-services {
    background-color: #f2f2f2;
    box-shadow: 0px 6px 0px #ffffff; 
}

.our-services .wrapper {
    height: 496px;
    display: flex;
    flex-direction: column;
}

.services__title {
    margin-top: 65px;
    color: #666d89;
    font-family: LatoBlack, sans-serif;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0px;
    cursor: default;
}

.services__text {
    color: #666d89;
    font-family: LatoLight, sans-serif;
    font-size: 1.7rem;
    cursor: default;
    line-height: 1.8;
    margin-top: 18px;
    margin-bottom: 42px;
    font-weight: 300;
    letter-spacing: 0.4px;
}

.services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.service {
    width: 300px;
    height: 109px;
    margin-right: 19px;
    margin-bottom: 14px;
}

.service img {
    float: left;
    margin: 5px 20px 40px 2px;
}

.service img:hover {
   filter: brightness(0);
   cursor: pointer; 
}

.service__topic {
    font-size: 1.8rem;
    letter-spacing: -0.2px;
    font-weight: 900;
    font-family: LatoBlack, sans-serif;
    cursor: default;
    color: #666d89;
}

.service__info {
    margin-top: 10px;
    margin-bottom: 15px;
    height: 65px;
    overflow: hidden;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: justify;
    letter-spacing: 0.35px;
    line-height: 1.9;
    font-family: LatoRegular, sans-serif;
    cursor: default;
    color: #666d89;
}

.last{
    margin-right: 0px; 
}